<!--          :options="{collapsable: true}"-->
<!--          :collapsed.sync="state.collapsed7"-->
<!--          :disabled="{disabled: state.disabled7, message: 'Finish previous steps before run training'}"-->
<sly-card title="Training progress"
          subtitle="Task progress, detailed logs, metrics charts, and other visualizations"
          ref="step7"
>
    <sly-field title="Experiment name"
               description="Training artifacts will be saved to the following directory in team files: /unet/<task_id>_<experiment name>">
        <el-input v-model="state.expName" :disabled="state.started"></el-input>
    </sly-field>
    <el-button v-if="!state.done7"
               type="primary" class="regular"
               @click="state.started = true; command('train')"
               :loading="state.started === true"
    >
        <i class="zmdi zmdi-play mr5"></i> Train
    </el-button>
    <div v-if="data.progressTrain1 && !data.outputUrl" class="mt10">
        <div style="color: #20a0ff">
            {{data.progressTrain1}}: {{data.progressCurrentTrain1}} / {{data.progressTotalTrain1}}
        </div>
        <el-progress :percentage="data.progressPercentTrain1"></el-progress>
    </div>

    <div class="mt15" v-if="state.started === true || state.done7">
        <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <sly-field title="Smoothing" description="Change the smoothing of line charts">
            <sly-icon slot="icon" :options="{ color: '#006ad4', bgColor: '#bbe2ff', rounded: false }">
                <i class="zmdi zmdi-trending-up"></i>
            </sly-icon>
            <el-slider
                    :value="state.smoothing"
                    :min="0" :max="0.95" :step="0.05" show-input
                    style="width: 450px;"
                    @input="(val)=>{
                                state.smoothing = val;
                                data.chartBCE.options.smoothingWeight = val;
                                data.chartDICE.options.smoothingWeight = val;
                                data.chartLoss.options.smoothingWeight = val;
                            }"
            >
            </el-slider>
        </sly-field>

        <sly-field title="Training charts" description="Real-time training metrics">
            <div class="fflex">
                <sly-line-chart
                        style="width: 50%;"
                        :options.sync="data.chartLR.options"
                        :content="data.chartLR.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 50%;"
                        :options.sync="data.chartBCE.options"
                        :content="data.chartBCE.series">
                </sly-line-chart>
            </div>
            <div class="fflex">
                <sly-line-chart
                        style="width: 50%;"
                        :options.sync="data.chartDICE.options"
                        :content="data.chartDICE.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 50%;"
                        :options.sync="data.chartLoss.options"
                        :content="data.chartLoss.series">
                </sly-line-chart>
            </div>
        </sly-field>

    </div>

    <sly-field title="Predictions improvement dynamics"
               description="Model predictions for random images from train/val over time"
    >
        <div class="fflex">
            <div class="mr15">Epoch</div>
            <el-slider v-model="state.visEpoch"
                       :min="1" :max="state.epochs" :step="1"
                       show-stops show-input
                       style="width: 500px;"
            >
            </el-slider>
        </div>
        <div class="fflex">
            <div class="mr10">Show examples from</div>
            <el-select v-model="state.visSets" multiple>
                <el-option key="onlyTrain" label="train" value="train"></el-option>
                <el-option key="onlyVal" label="val" value="val"></el-option>
            </el-select>
        </div>
        <sly-grid-gallery :content="data.gallery.content" :options="data.gallery.options"></sly-grid-gallery>
    </sly-field>
</sly-card>