<!--          :options="{collapsable: true}"-->
<!--          :collapsed.sync="state.collapsed7"-->
<!--          :disabled="{disabled: state.disabled7, message: 'Finish previous steps before run training'}"-->
<sly-card title="Training progress"
          subtitle="Task progress, detailed logs, metrics charts, and other visualizations"
          ref="step7"
>
    <el-button v-if="!state.done7"
               type="primary" class="regular"
               @click="state.started = true; command('train')"
               :loading="state.started === true"
    >
        <i class="zmdi zmdi-play mr5"></i> Train
    </el-button>
    <div v-if="data.progressEpoch.message && !data.outputUrl" class="mt10">
        <div style="color: #20a0ff">
            {{data.progressEpoch.message}}: {{data.progressEpoch.current}} / {{data.progressEpoch.total}}
        </div>
        <el-progress :percentage="data.progressEpoch.percent"></el-progress>
    </div>
    <div v-if="data.progressIter.message && !data.outputUrl" class="mt10">
        <div style="color: #20a0ff">
            {{data.progressIter.message}}: {{data.progressIter.current}} / {{data.progressIter.total}}
        </div>
        <el-progress :percentage="data.progressIter.percent"></el-progress>
    </div>
    <div v-if="data.progressVal.message && !data.outputUrl" class="mt10">
        <div style="color: #20a0ff">
            {{data.progressVal.message}}: {{data.progressVal.current}} / {{data.progressVal.total}}
        </div>
        <el-progress :percentage="data.progressVal.percent"></el-progress>
    </div>

    <div class="mt15" v-if="state.started === true || state.done7">
        <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <sly-field title="Smoothing" description="Change the smoothing of line charts">
            <sly-icon slot="icon" :options="{ color: '#006ad4', bgColor: '#bbe2ff', rounded: false }">
                <i class="zmdi zmdi-trending-up"></i>
            </sly-icon>
            <el-slider
                    :value="state.smoothing"
                    :min="0" :max="0.95" :step="0.05" show-input
                    style="width: 450px;"
                    @input="(val)=>{
                                state.smoothing = val;
                                data.chartBCE.options.smoothingWeight = val;
                                data.chartDICE.options.smoothingWeight = val;
                                data.chartLoss.options.smoothingWeight = val;
                            }"
            >
            </el-slider>
        </sly-field>

        <sly-field title="Training charts" description="Real-time training metrics">
            <div class="fflex">
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartLR.options"
                        :content="data.chartLR.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartLoss.options"
                        :content="data.chartLoss.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartAcc.options"
                        :content="data.chartAcc.series">
                </sly-line-chart>
            </div>
        </sly-field>
<!--        <sly-field title="Predictions improvement dynamics"-->
<!--                   description="Model predictions for random images from train/val over time"-->
<!--        >-->
<!--            <div class="fflex">-->
<!--                <div class="mr15">Epoch</div>-->
<!--                <el-input-number v-model="state.visEpoch" :min="1" :max="state.epochs" :step="1" :debounce="500"-->
<!--                                 @change="(value) => {-->
<!--                                    data.gallery.content.layout = [-->
<!--                                        data.gallery.content.layout[0], data.gallery.content.layout[1],-->
<!--                                        data.gallery.content.pred_layout.map( (x)=>`${x}_${value}` )-->
<!--                                    ]-->
<!--                                }"-->
<!--                >-->
<!--                </el-input-number>-->
<!--            </div>-->
<!--            <div class="fflex">-->
<!--                <div class="mr10">Show examples from</div>-->
<!--                <el-select v-model="state.visSets" multiple>-->
<!--                    <el-option key="onlyTrain" label="train" value="train"></el-option>-->
<!--                    <el-option key="onlyVal" label="val" value="val"></el-option>-->
<!--                </el-select>-->
<!--            </div>-->
<!--            <pre>{{data.gallery.content}}</pre>-->
<!--            <sly-grid-gallery v-if="data.gallery"-->
<!--                              :content="data.gallery.content"-->
<!--                              :options="data.gallery.options">-->
<!--            </sly-grid-gallery>-->
<!--        </sly-field>-->
    </div>
</sly-card>